#!/bin/sh
export PBS_PASSWORD="{{ proxmox_pbs_client.password }}"
export PBS_FINGERPRINT="{{ proxmox_pbs_client.fingerprint }}"
export PBS_LOG="warn"
export PXAR_LOG="warn"

proxmox-backup-client backup {{ proxmox_pbs_client.directories | join(" ") }} --repository backup@pbs@192.168.1.108:main
